<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.neu.madcourse.buoy">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"></activity>
        <activity android:name=".FriendActivity" />
        <activity android:name=".completelist.CompleteListActivity"
            android:launchMode="singleTop"/>
        <activity android:name=".UserSettingsUpdateActivity" />
        <activity android:name=".UserSettingsActivity" />
        <activity android:name=".FirstSignInActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".seebuoys.ViewBuoyActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".userList"
            android:windowSoftInputMode="adjustPan">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".StickerMessagingService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.firebase.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".userList"
            android:foregroundServiceType="location" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/sticker_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>